<launch>
    <!-- turtlebot_teleop_key already has its own built in velocity smoother -->
    <node pkg="sc_hw" type="mecanum_teleop_key.py" name="mecanum_teleop_key"  output="screen">
        <!--<param name="scale_linear" value="0.5" type="double"/>-->
        <!--<param name="scale_angular" value="1.5" type="double"/>-->
        <remap from="mecanum_teleop_key/cmd_vel" to="/cmd_vel_mux/input/teleop" />
    </node>
</launch>
