<launch>

  <node name="handsfree_hw_node" pkg="handsfree_hw" type="handsfree_hw_node" />

  <param name="robot_description" command="$(find xacro)/xacro $(find handsfree_gazebo)/urdf/handsfree.urdf.xarco" />

  <rosparam file="$(find handsfree_hw)/config/config.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/mobile_base" args="mobile_base_controller"/>

</launch>
